body {
    background-image: url("1.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#form {
    text-align: center;
    margin: 50px 30px 20px 30px;
}

#cnty {
    background-color: #B2DEEC;
}

.col {
    margin: 0px 15px 10px 0px !important;
}

#result {
    background-color: blue;
    width: 100%;
    display: none;
    text-align: center;
    color: white;
    height: 150px;
    width: 50%;
    margin: auto;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}