body {
    background-image: url("1.jpg");
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
}

#form {
    text-align: center;
    margin: 50px 30px 20px 30px;
}

#cnty {
    background-color: #B2DEEC;
}

.col {
    margin: 0px 15px 10px 0px !important;
}

#result {
    background-color: white;
    display: none;
    width: 100%;
}